@charset "UTF-8";
/* Configuração Geral */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

nav {
  background-color: rgba(27, 26, 27, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  nav h1 {
    text-align: center;
    color: white; }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
    nav ul li {
      width: 100%;
      text-align: center; }
      nav ul li a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: #f1f1f1;
        padding: 0.5em; }

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  section .container__principal {
    background-image: url("../imagens/fundo.jpg");
    height: 70vh;
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    section .container__principal h1 {
      padding-top: 3em;
      width: 100%;
      color: #f5f5f5;
      text-align: center; }
    section .container__principal p {
      color: white;
      text-align: center;
      width: 100%; }
    section .container__principal a {
      color: white;
      background-color: blueviolet;
      padding: 1em;
      text-decoration: none; }
  section .about {
    width: 100%;
    background-color: rgba(32, 8, 77, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50vh; }
    section .about h1 {
      color: white;
      font-size: 1.4em; }
    section .about p {
      color: white;
      text-align: center;
      padding: 1em; }
    section .about a {
      color: blueviolet;
      background-color: #f1f1f1;
      padding: 1em;
      text-decoration: none; }

.servicos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }
  .servicos .integracao, .servicos .praticas, .servicos .amor, .servicos .hospedagem {
    margin: 2em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .portfolio h1 {
    width: 100%;
    text-align: center;
    font-size: 2em; }
  .portfolio img {
    max-width: 375px;
    margin: 0; }
  .portfolio .imagens {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .contato h1 {
    margin: 1em 0;
    width: 100%;
    text-align: center; }
  .contato p {
    margin: 1em 0;
    width: 100%;
    text-align: center; }
  .contato a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .contato img {
    max-width: 400px; }

footer {
  color: white;
  line-height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: darkslategray; }
