@charset "UTF-8";
/* Configuração Geral */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

nav {
  background-color: rgba(27, 26, 27, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  nav h1 {
    text-align: center;
    color: white; }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
    nav ul li {
      width: 100%;
      text-align: center; }
      nav ul li a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: #f1f1f1;
        padding: 0.5em;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
        nav ul li a:hover {
          -webkit-transition: 1s;
          -o-transition: 1s;
          transition: 1s;
          background-color: rgba(0, 0, 0, 0.8); }

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  section .container__principal {
    background-image: url("../imagens/fundo.jpg");
    height: 70vh;
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    section .container__principal h1 {
      padding-top: 3em;
      width: 100%;
      color: #f5f5f5;
      text-align: center; }
    section .container__principal p {
      color: white;
      text-align: center;
      width: 100%; }
    section .container__principal a {
      color: white;
      background-color: blueviolet;
      padding: 1em;
      text-decoration: none; }
  section .about {
    width: 100%;
    background-color: rgba(32, 8, 77, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50vh; }
    section .about h1 {
      color: white;
      font-size: 1.4em; }
    section .about p {
      color: white;
      text-align: center;
      padding: 1em; }
    section .about a {
      color: blueviolet;
      background-color: #f1f1f1;
      padding: 1em;
      text-decoration: none; }

.servicos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }
  .servicos h1 {
    color: rgba(0, 0, 0, 0.8);
    padding-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em; }
  .servicos .integracao, .servicos .praticas, .servicos .amor, .servicos .hospedagem {
    margin: 2em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .servicos .integracao h2, .servicos .praticas h2, .servicos .amor h2, .servicos .hospedagem h2 {
      color: rgba(0, 0, 0, 0.8);
      margin-top: 1.2em;
      font-size: 1em;
      font-family: Arial, Helvetica, sans-serif; }
    .servicos .integracao p, .servicos .praticas p, .servicos .amor p, .servicos .hospedagem p {
      font-family: 'Times New Roman', Times, serif;
      text-align: center;
      font-size: 1em;
      padding: 1em; }

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .portfolio h1 {
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.8); }
  .portfolio img {
    max-width: 100%;
    margin: 0; }
  .portfolio .imagens {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }
  .contato h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    padding: 1em;
    font-size: 1.5em; }
  .contato p {
    text-align: center;
    font-size: 1em;
    padding: 1em;
    margin: 1em; }
  .contato .number, .contato .email {
    text-align: center; }

footer {
  color: white;
  line-height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(27, 26, 27, 0.8); }

@media screen and (min-width: 700px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 10vh; }
    nav h1 {
      -ms-flex-item-align: center;
      align-self: center; }
    nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 50%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      nav ul li {
        line-height: 7vh; }
  section .container__principal {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100vh; }
    section .container__principal a {
      padding: 2em 4em;
      font-size: 1em; }
  .portfolio img {
    max-width: 40%; }
  .servicos > article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .contato h1 {
    font-size: 2em; }
  .contato > p {
    font-size: 1.5em; }
  .contato .number, .contato .email {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }
