<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <nav>
        <h1>Lorem Ipsum</h1>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#Contact">Contact</a></li>
          <li><a href="#About">About</a></li>
          <li><a href="#Portfolio">Portfolio</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <article class="container__principal">
        <h1>Lorem Ipsum</h1>
        <p> Testando o site</p><a href="#About">Ver mais</a>
      </article>
      <article class="about" id="About">
        <h1>Sobre</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis exercitationem officiis.</p><a href="#Contact">Entre em Contato</a>
      </article>
    </section>
    <section class="servicos">
      <h1>Serviços</h1>
      <article>
        <div class="integracao"><img src="../imagens/configs.png" alt="Configurações">
          <h2>Facil Integração</h2>
          <p>  Integra facilmente seu site a qualquer gerenciador de conteúdo.</p>
        </div>
        <div class="hospedagem"><img src="../imagens/hospedagem.png" alt="Hospedagem">
          <h2>Hospedagem Moderna</h2>
          <p>  Não deixe seus clientes na mão. Tenha seu site 24hrs no ar.</p>
        </div>
        <div class="praticas"><img src="../imagens/site.png" alt="Site">
          <h2>Melhores Práticas</h2>
          <p>Código legível, desenvolvido com as melhores práticas.</p>
        </div>
        <div class="amor"><img src="../imagens/coracao.png" alt="Coração">
          <h2>Feito com amor</h2>
          <p>É melhor fazer seus sites com amor hoje em dia!</p>
        </div>
      </article>
    </section>
    <section>
      <article class="portfolio" id="Portfolio">
        <h1>Portfólio</h1>
        <div class="imagens"><img src="../imagens/portfolio-1.jpg" alt="Fotografia"><img src="../imagens/portfolio-2.jpeg" alt="Fotografia"><img src="../imagens/portfolio-3.jpeg" alt="Fotografia"><img src="../imagens/portfolio-4.jpg" alt="Fotografia"><img src="../imagens/portfolio-5.jpeg" alt="Fotografia"><img src="../imagens/portfolio-6.jpeg" alt="Fotografia">
        </div>
      </article>
    </section>
    <section>
      <article class="contato" id="Contact">
        <h1>Contato</h1>
        <p>Fale conosco</p><a><img src="../imagens/fone.png" alt="Fone de Contato"></a>
        <p>996895869</p><a><img src="../imagens/contato.png" alt="Email de Contato"></a>
        <p> lorremipsum@kkk.com</p>
      </article>
    </section>
    <footer>
      <p>Desenvolvido por Tiago José</p>
    </footer>
  </body>
</html>